/* Importamos Bootstrap desde node_modules */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Aquí puedes agregar tus propios estilos globales después */
body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.router-link-active {
  color: #00dc82 !important;
  text-decoration: underline;
}